<h2>Current Committees</h2>
{{input value=house id="house"}}
<button {{action 'houseCommittees'}}>House</button>
{{input value=senate id="senate"}}
<button {{action 'senateCommittees'}}>Senate</button>
{{input value=joint id="joint"}}
<button {{action 'jointCommittees'}}>Joint</button>
